/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 100vh;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.chat-window {
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

}

.valorant-icon img {
  width: 65px;  /* Adjust to desired size */
  height: 40px;
  display: block;
  padding-left:  15px;
  padding-right: 10px;
}

.team-slots{
  width: 10vw;
  height: 10vw;
}

.player-container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 10px; /* Optional: space between the containers */
  background-color: #f2f2f2f2;
}

.grid-wrap{
  height:95vh;
  background-color:#b38c8f;
  overflow-y: auto; /* This will enable vertical scrolling */
  padding: 10px;
}

.chat-messages {
  overflow-y: auto; /* Hide vertical scrollbar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #f2f2f2f2;
}

.user-message, .bot-message {
  margin-bottom: 40px;
  border-radius: 10px;
  max-width: 90%;
  align-self: flex-end;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-message {
  background-color: #DCF8C6;

}

.bot-message {
  background-color: #eeeeee;
  align-self: flex-start;
}

.input-container {

  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 40px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: white;
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease; 
  cursor: move;
}

.player-card .player-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player-card .player-text {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  text-align: center;
  width: 90%;
}

.message-input {
  font-size: 20px;
  flex-grow: 1;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  background-color: white;
  border: none
}

.send-button {
  background-color: #fd4556; /* Button background color */
  border: none;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%; /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #45a049;
}

.feather-upload {
  width: 24px;
  height: 24px;
}

/* Optional: Adjust the icon style */
.send-button:hover .feather-upload {
  stroke: white;
}


.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f1f1f1;
}

.chat-input input {
  font-size: 20px;
  flex: 1;
  padding: 10px;

}

.chat-input button:hover {
  background-color: #45a049;
}
